<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</head>
<style>
    #chat{
        max-height: 500px;
        min-height: 500px;
        background-color: #ADD8E6;
        overflow-y: scroll;
    }
    #title{
        text-align: center;
        color: #fff;
    }
    body{
        background-color: #263056;
    }
    .button{
        height: 50px;
    }
</style>
<body>
    <h1 id="title">Chat Mercado</h1>
    <div id="chat">

    </div>
    <input type="text" name="" id="msg" class="form-control" placeholder="msg..."/>
    <input type="text" name="" id="username" placeholder="Seu nome de usuário" class="form-control"/>
    <div class="d-grid gap-2 button">
        <button class="btn btn-info" type="button" onclick="enviar()">Enviar</button>
    </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.1/socket.io.js"></script>
<script>
    const socket = io("http://localhost:3000");
    socket.on("disconnect", () => {
        console.log("Desconectado!");
    })
    socket.on("showmsg", (data) => {
        let chat = document.getElementById("chat");
        let p = document.createElement("p");

        let usernameSpan = document.createElement("span");
        usernameSpan.innerHTML = data.username + ": ";
        usernameSpan.style.fontWeight = "bold";

        p.appendChild(usernameSpan);
        p.innerHTML += data.msg;

        p.style.backgroundColor = "#1E90FF";
        p.style.borderRadius = "5px";
        p.style.padding = "10px";
        p.style.marginBottom = "10px";
        p.style.marginTop = "10px";
        p.style.maxWidth = "80%";
        chat.append(p);
    })

    function enviar(){
        const msgField = document.getElementById("msg");
        const userNAmeField = document.getElementById("username");
        const msg = msgField.value;
        const username = userNAmeField.value;

        socket.emit("msg", {
            msg,
            username
        });
        msgField.value = "";
    }
</script>
</html>